html, body, {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Open Sans', sans-serif;

  margin-top: 0;

  height: 100%;
  width: 100%;
}

#slackist-frontend {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
}
